

.sidebar{
    width: 260px;
    height: 100vh;
    background-color: rgb(9, 25, 42);
    position: fixed;
    top:56px;
    z-index: 9999;
    overflow-x: hidden;
    
}
.sidebar .sidebar-menu ul{
    padding: 0;
    
}
.sidebar .sidebar-menu ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar .sidebar-menu ul li a{
    display: block ;
    list-style: none;
    padding: 15px 10px;
    
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: white;
}
.active{
    background-color: rgb(34, 80, 129);
}

        .form-page {
            display: none;
        }

        .form-page.active {
            display: flex;
            background-color: #fff;
        }
#content{
    margin-left: 260px;
    margin-top: 56px;
    padding: 20px;
    height: 3000px;
    background-color: rgb(229, 235, 242);
    
}

@media screen and (max-width: 767px){
    .navbar-nav{
        display: flex !important;
    }
    .sidebar{
        display: none;
    }
    .dropdown ul{
        right: auto !important;
        left:0 !important;
    }
    
}
.title-content{
    border-bottom: 1px solid rgb(0, 0, 0);
}



/* Riêng */

#inbound a{
    padding-left:20px;

}
ul li:hover{
    opacity: 0.7;
}

span.page-link:hover{
    cursor: pointer;
    opacity:0.7;
}
